.blurb {
  background: var(--light-background);
  border-top: 1px solid var(--subtle-border);
  border-bottom: 1px solid var(--subtle-border);
  padding: 2.5rem 0;
}

.container {
  max-width: 950px;
  padding: 0 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

.avatar {
  max-height: 200px;
  margin: 1.5rem auto 0;
  border: 3px solid #000;
}
.avatar,
.blurb a.button {
  display: block;
}

section {
  margin: 2rem 0;
  display: block;
}

img {
    display: inline-block;
    max-width: 100%;
    height: auto;
  }

@media screen and (min-width: 800px) {
  section {
    margin: 3.5rem 0;
  }

  .blurb .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .container {
    padding: 0 2rem;
  }

  .avatar {
    margin-top: 0;
    max-height: none;
    max-width: 350px;
    margin-left: 2rem;
  }
}

@media screen and (max-width: 799px) {
    .container-inner{
        padding-top:5rem;
    }
}