{{ define "main" }}

{{ $pages := where .Site.Pages "Section" "java" }}
{{ $pages = (.Paginate $pages).Pages }}

<header>
  <div class="container">
    <h1>{{ .Title }}</h1>
    <p class="subtitle">
      Java, Spring, Hibernate and everything else.
    </p>
  </div>
</header>


<section>
  <div class="container">
    <section>
      <div class="posts">
        {{ range $pages.ByParam "group" }}
        <div class="post">
          {{ if eq .Page.Params.type "index" }}
          <h2>{{ .Title }}</h2>
          {{ else }}
          <a href="{{ .RelPermalink }}">
            <div class="post-row">
              <time>{{ .Date.Format "Jan 02" }}</time>
              <h3>{{ .Title }}</h3>
            </div>
            <!--<div class="new-post">New!</div>-->
          </a>
          {{ end }}
        </div>
        {{ end }}
      </div>
    </section>
  </div>
</section>


{{ end }}