{{ define "main" }}


<div class="container">


    {{ $tutorials := where .Site.Pages "Section" "tutorials" }}

    {{ if gt (len $tutorials) 0}}
    <section>
        <h2>Tutorials</h2>
        <div class="tutorials">
            {{ range $tutorials.ByWeight }}
            {{ if and (eq .File.LogicalName "_index.md") (eq .Params.type "master") }}
            <div class="tutorial">
                <div>
                    <a href="{{ .Params.link }}" target="_blank" rel="noreferrer">
                        <div class="icon">{{ .Params.icon }}</div>
                        <h3>{{ .Title }}</h3>
                    </a>
                    <div class="description">{{ .Params.description }}</div>
                </div>
            </div>
            {{ end }}
            {{ end }}
        </div>
    </section>
    {{ end }}

</div>
{{ end }}